<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register Page</title>
    <link rel="stylesheet" href="login.css" />
  </head>
  <body>
    <div class="login-container">
      <h2>Register</h2>
      <% if(flaw){ %>
      <h3 style="color: rgb(255, 122, 122)"><%= flaw %></h3>
      <% } %>
      <form action="/register" method="POST">
        <div class="input-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            required
            placeholder="Enter your username"
          />
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            required
            placeholder="Enter your password"
          />
        </div>
        <button type="submit">Register</button>
        <p class="register-link">
          Already have an account?
          <a href="http://localhost:5000">Login</a>
        </p>
      </form>
    </div>
  </body>
</html>
